In [6]:
#importing libraries
import numpy as np
import pandas as pd
import io
import os
from google.colab import files

In [8]:

file = files.upload()
df1 = pd.read_csv('Hospital_patients_datasets (1).csv')

Saving Hospital_patients_datasets (1).csv to Hospital_patients_datasets (1).csv

In [9]:
df1.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [10]:
def check_duplicates(df1):
#check for duplicates

  duplicates = df1.duplicated()

#count the number of duplicates

  duplicates_count = duplicates.sum()

#printing if there are any duplicates in the data

  if duplicates_count > 0:
    print("There are duplicates")
  else:
    print ("No duplicates")

  return duplicates_count

duplicates_count = check_duplicates(df1)
print("Total duploicates:", duplicates_count)

No duplicates
Total duploicates: 0

In [11]:
#Checking null values
def check_null_values(df1):
  null_values = df1.isnull().sum()

  if null_values.any():
    print ("Null values ")
  else:
    print ("No null values")

#returning the results containg null value
  return null_values

#Function to get the count of null values

null_Values_count = check_null_values(df1)

No null values

In [12]:
#converting dtype to date time using astype


# Assuming df1 is your DataFrame
df1['ScheduledDay'] = df1['ScheduledDay'].astype('datetime64[ns]')
df1['AppointmentDay'] = df1['AppointmentDay'].astype('datetime64[ns]')

# Print the DataFrame to verify the changes
print(df1.head())

      PatientId  AppointmentID Gender        ScheduledDay AppointmentDay  Age  \
0  2.987250e+13        5642903      F 2016-04-29 18:38:08     2016-04-29   62
1  5.589980e+14        5642503      M 2016-04-29 16:08:27     2016-04-29   56
2  4.262960e+12        5642549      F 2016-04-29 16:19:04     2016-04-29   62
3  8.679510e+11        5642828      F 2016-04-29 17:29:31     2016-04-29    8
4  8.841190e+12        5642494      F 2016-04-29 16:07:23     2016-04-29   56

       Neighbourhood  Scholarship  Hipertension  Diabetes  Alcoholism  \
0    JARDIM DA PENHA            0             1         0           0
1    JARDIM DA PENHA            0             0         0           0
2      MATA DA PRAIA            0             0         0           0
3  PONTAL DE CAMBURI            0             0         0           0
4    JARDIM DA PENHA            0             1         1           0

   Handcap  SMS_received No-show
0        0             0      No
1        0             0      No
2        0             0      No
3        0             0      No
4        0             0      No

In [9]:
df1.ScheduledDay

0        2016-04-29 18:38:08
1        2016-04-29 16:08:27
2        2016-04-29 16:19:04
3        2016-04-29 17:29:31
4        2016-04-29 16:07:23
                 ...
110522   2016-05-03 09:15:35
110523   2016-05-03 07:27:33
110524   2016-04-27 16:03:52
110525   2016-04-27 15:09:23
110526   2016-04-27 13:30:56
Name: ScheduledDay, Length: 110527, dtype: datetime64[ns]

In [13]:
def rename_columns(df1):
  rename_df = df1.rename(columns={"Hipertension":"Hypertension", "Handcap": "Handicap", "SMS_received" : "SMSReceived", "No-show" : "NoShow"})

  return rename_df
#Calling the function
df1_rename = rename_columns(df1)
print("Renamed coluumns", df1_rename)

Renamed coluumns            PatientId  AppointmentID Gender        ScheduledDay AppointmentDay  \
0       2.987250e+13        5642903      F 2016-04-29 18:38:08     2016-04-29
1       5.589980e+14        5642503      M 2016-04-29 16:08:27     2016-04-29
2       4.262960e+12        5642549      F 2016-04-29 16:19:04     2016-04-29
3       8.679510e+11        5642828      F 2016-04-29 17:29:31     2016-04-29
4       8.841190e+12        5642494      F 2016-04-29 16:07:23     2016-04-29
...              ...            ...    ...                 ...            ...
110522  2.572130e+12        5651768      F 2016-05-03 09:15:35     2016-06-07
110523  3.596270e+12        5650093      F 2016-05-03 07:27:33     2016-06-07
110524  1.557660e+13        5630692      F 2016-04-27 16:03:52     2016-06-07
110525  9.213490e+13        5630323      F 2016-04-27 15:09:23     2016-06-07
110526  3.775120e+14        5629448      F 2016-04-27 13:30:56     2016-06-07

        Age      Neighbourhood  Scholarship  Hypertension  Diabetes  \
0        62    JARDIM DA PENHA            0             1         0
1        56    JARDIM DA PENHA            0             0         0
2        62      MATA DA PRAIA            0             0         0
3         8  PONTAL DE CAMBURI            0             0         0
4        56    JARDIM DA PENHA            0             1         1
...     ...                ...          ...           ...       ...
110522   56        MARIA ORTIZ            0             0         0
110523   51        MARIA ORTIZ            0             0         0
110524   21        MARIA ORTIZ            0             0         0
110525   38        MARIA ORTIZ            0             0         0
110526   54        MARIA ORTIZ            0             0         0

        Alcoholism  Handicap  SMSReceived NoShow
0                0         0            0     No
1                0         0            0     No
2                0         0            0     No
3                0         0            0     No
4                0         0            0     No
...            ...       ...          ...    ...
110522           0         0            1     No
110523           0         0            1     No
110524           0         0            1     No
110525           0         0            1     No
110526           0         0            1     No

[110527 rows x 14 columns]

In [14]:
df1.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [15]:
df1_rename.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [16]:
def drop_columns(df1_rename):
  dropcolumns = df1_rename.drop(columns=['PatientId', 'AppointmentID', 'Neighbourhood'])

  return dropcolumns

#Calling the function

df1_droppedcolumns = drop_columns(df1_rename)

print("New DataFrame", df1_droppedcolumns)

New DataFrame        Gender        ScheduledDay AppointmentDay  Age  Scholarship  \
0           F 2016-04-29 18:38:08     2016-04-29   62            0
1           M 2016-04-29 16:08:27     2016-04-29   56            0
2           F 2016-04-29 16:19:04     2016-04-29   62            0
3           F 2016-04-29 17:29:31     2016-04-29    8            0
4           F 2016-04-29 16:07:23     2016-04-29   56            0
...       ...                 ...            ...  ...          ...
110522      F 2016-05-03 09:15:35     2016-06-07   56            0
110523      F 2016-05-03 07:27:33     2016-06-07   51            0
110524      F 2016-04-27 16:03:52     2016-06-07   21            0
110525      F 2016-04-27 15:09:23     2016-06-07   38            0
110526      F 2016-04-27 13:30:56     2016-06-07   54            0

        Hypertension  Diabetes  Alcoholism  Handicap  SMSReceived NoShow
0                  1         0           0         0            0     No
1                  0         0           0         0            0     No
2                  0         0           0         0            0     No
3                  0         0           0         0            0     No
4                  1         1           0         0            0     No
...              ...       ...         ...       ...          ...    ...
110522             0         0           0         0            1     No
110523             0         0           0         0            1     No
110524             0         0           0         0            1     No
110525             0         0           0         0            1     No
110526             0         0           0         0            1     No

[110527 rows x 11 columns]

In [17]:
df1_droppedcolumns.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,F,2016-04-29 18:38:08,2016-04-29,62,0,1,0,0,0,0,No
1,M,2016-04-29 16:08:27,2016-04-29,56,0,0,0,0,0,0,No
2,F,2016-04-29 16:19:04,2016-04-29,62,0,0,0,0,0,0,No
3,F,2016-04-29 17:29:31,2016-04-29,8,0,0,0,0,0,0,No
4,F,2016-04-29 16:07:23,2016-04-29,56,0,1,1,0,0,0,No

In [18]:
import pandas as pd

# Assuming df3 is your DataFrame
def create_bin(df1_droppedcolumns):
    bins = [0,20, 40, 60, 80]
    df1_droppedcolumns['Age_Group'] = pd.cut(df1_droppedcolumns['Age'], bins, right=False)
    return df1_droppedcolumns

# Call the create_bin function and pass the DataFrame
resulting_df = create_bin(df1_droppedcolumns)

# Print the resulting DataFrame
print(resulting_df)

       Gender        ScheduledDay AppointmentDay  Age  Scholarship  \
0           F 2016-04-29 18:38:08     2016-04-29   62            0
1           M 2016-04-29 16:08:27     2016-04-29   56            0
2           F 2016-04-29 16:19:04     2016-04-29   62            0
3           F 2016-04-29 17:29:31     2016-04-29    8            0
4           F 2016-04-29 16:07:23     2016-04-29   56            0
...       ...                 ...            ...  ...          ...
110522      F 2016-05-03 09:15:35     2016-06-07   56            0
110523      F 2016-05-03 07:27:33     2016-06-07   51            0
110524      F 2016-04-27 16:03:52     2016-06-07   21            0
110525      F 2016-04-27 15:09:23     2016-06-07   38            0
110526      F 2016-04-27 13:30:56     2016-06-07   54            0

        Hypertension  Diabetes  Alcoholism  Handicap  SMSReceived NoShow  \
0                  1         0           0         0            0     No
1                  0         0           0         0            0     No
2                  0         0           0         0            0     No
3                  0         0           0         0            0     No
4                  1         1           0         0            0     No
...              ...       ...         ...       ...          ...    ...
110522             0         0           0         0            1     No
110523             0         0           0         0            1     No
110524             0         0           0         0            1     No
110525             0         0           0         0            1     No
110526             0         0           0         0            1     No

       Age_Group
0       [60, 80)
1       [40, 60)
2       [60, 80)
3        [0, 20)
4       [40, 60)
...          ...
110522  [40, 60)
110523  [40, 60)
110524  [20, 40)
110525  [20, 40)
110526  [40, 60)

[110527 rows x 12 columns]

In [19]:
resulting_df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_Group
0,F,2016-04-29 18:38:08,2016-04-29,62,0,1,0,0,0,0,No,"[60, 80)"
1,M,2016-04-29 16:08:27,2016-04-29,56,0,0,0,0,0,0,No,"[40, 60)"
2,F,2016-04-29 16:19:04,2016-04-29,62,0,0,0,0,0,0,No,"[60, 80)"
3,F,2016-04-29 17:29:31,2016-04-29,8,0,0,0,0,0,0,No,"[0, 20)"
4,F,2016-04-29 16:07:23,2016-04-29,56,0,1,1,0,0,0,No,"[40, 60)"

In [30]:
def drop_null(resulting_df):
  df_drop_NA = resulting_df.dropna()
  return df_drop_NA

#Calling the function

dropped_NA = drop_null(resulting_df)
print("New Dataframe",dropped_NA )

New Dataframe        Gender        ScheduledDay AppointmentDay  Age  Scholarship  \
0           F 2016-04-29 18:38:08     2016-04-29   62            0
1           M 2016-04-29 16:08:27     2016-04-29   56            0
2           F 2016-04-29 16:19:04     2016-04-29   62            0
3           F 2016-04-29 17:29:31     2016-04-29    8            0
4           F 2016-04-29 16:07:23     2016-04-29   56            0
...       ...                 ...            ...  ...          ...
110522      F 2016-05-03 09:15:35     2016-06-07   56            0
110523      F 2016-05-03 07:27:33     2016-06-07   51            0
110524      F 2016-04-27 16:03:52     2016-06-07   21            0
110525      F 2016-04-27 15:09:23     2016-06-07   38            0
110526      F 2016-04-27 13:30:56     2016-06-07   54            0

        Hypertension  Diabetes  Alcoholism  Handicap  SMSReceived NoShow  \
0                  1         0           0         0            0     No
1                  0         0           0         0            0     No
2                  0         0           0         0            0     No
3                  0         0           0         0            0     No
4                  1         1           0         0            0     No
...              ...       ...         ...       ...          ...    ...
110522             0         0           0         0            1     No
110523             0         0           0         0            1     No
110524             0         0           0         0            1     No
110525             0         0           0         0            1     No
110526             0         0           0         0            1     No

       Age_Group
0       [60, 80)
1       [40, 60)
2       [60, 80)
3        [0, 20)
4       [40, 60)
...          ...
110522  [40, 60)
110523  [40, 60)
110524  [20, 40)
110525  [20, 40)
110526  [40, 60)

[107163 rows x 12 columns]

In [33]:
dropped_NA.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_Group
0,F,2016-04-29 18:38:08,2016-04-29,62,0,1,0,0,0,0,No,"[60, 80)"
1,M,2016-04-29 16:08:27,2016-04-29,56,0,0,0,0,0,0,No,"[40, 60)"
2,F,2016-04-29 16:19:04,2016-04-29,62,0,0,0,0,0,0,No,"[60, 80)"
3,F,2016-04-29 17:29:31,2016-04-29,8,0,0,0,0,0,0,No,"[0, 20)"
4,F,2016-04-29 16:07:23,2016-04-29,56,0,1,1,0,0,0,No,"[40, 60)"

In [34]:
#dropping the age column
def drop_columns(dropped_NA):

  df = dropped_NA.drop(columns=['Age'])
  return df

#calling the function

df2_droppedcolumns = drop_columns(dropped_NA)

print("New DataFrame", df2_droppedcolumns)

New DataFrame        Gender        ScheduledDay AppointmentDay  Scholarship  Hypertension  \
0           F 2016-04-29 18:38:08     2016-04-29            0             1
1           M 2016-04-29 16:08:27     2016-04-29            0             0
2           F 2016-04-29 16:19:04     2016-04-29            0             0
3           F 2016-04-29 17:29:31     2016-04-29            0             0
4           F 2016-04-29 16:07:23     2016-04-29            0             1
...       ...                 ...            ...          ...           ...
110522      F 2016-05-03 09:15:35     2016-06-07            0             0
110523      F 2016-05-03 07:27:33     2016-06-07            0             0
110524      F 2016-04-27 16:03:52     2016-06-07            0             0
110525      F 2016-04-27 15:09:23     2016-06-07            0             0
110526      F 2016-04-27 13:30:56     2016-06-07            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived NoShow Age_Group
0              0           0         0            0     No  [60, 80)
1              0           0         0            0     No  [40, 60)
2              0           0         0            0     No  [60, 80)
3              0           0         0            0     No   [0, 20)
4              1           0         0            0     No  [40, 60)
...          ...         ...       ...          ...    ...       ...
110522         0           0         0            1     No  [40, 60)
110523         0           0         0            1     No  [40, 60)
110524         0           0         0            1     No  [20, 40)
110525         0           0         0            1     No  [20, 40)
110526         0           0         0            1     No  [40, 60)

[107163 rows x 11 columns]

In [35]:
df2_droppedcolumns.head()

,Gender,ScheduledDay,AppointmentDay,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_Group
0,F,2016-04-29 18:38:08,2016-04-29,0,1,0,0,0,0,No,"[60, 80)"
1,M,2016-04-29 16:08:27,2016-04-29,0,0,0,0,0,0,No,"[40, 60)"
2,F,2016-04-29 16:19:04,2016-04-29,0,0,0,0,0,0,No,"[60, 80)"
3,F,2016-04-29 17:29:31,2016-04-29,0,0,0,0,0,0,No,"[0, 20)"
4,F,2016-04-29 16:07:23,2016-04-29,0,1,1,0,0,0,No,"[40, 60)"

In [36]:
final_df = df2_droppedcolumns

In [37]:
final_df.head()

,Gender,ScheduledDay,AppointmentDay,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,Age_Group
0,F,2016-04-29 18:38:08,2016-04-29,0,1,0,0,0,0,No,"[60, 80)"
1,M,2016-04-29 16:08:27,2016-04-29,0,0,0,0,0,0,No,"[40, 60)"
2,F,2016-04-29 16:19:04,2016-04-29,0,0,0,0,0,0,No,"[60, 80)"
3,F,2016-04-29 17:29:31,2016-04-29,0,0,0,0,0,0,No,"[0, 20)"
4,F,2016-04-29 16:07:23,2016-04-29,0,1,1,0,0,0,No,"[40, 60)"

In [39]:
final_df.head().isnull().sum()

Gender            0
ScheduledDay      0
AppointmentDay    0
Scholarship       0
Hypertension      0
Diabetes          0
Alcoholism        0
Handicap          0
SMSReceived       0
NoShow            0
Age_Group         0
dtype: int64

In [40]:
from google.colab import files
final_df.to_csv('Pateint_Analysis_Cleaned.csv')
files.download('Pateint_Analysis_Cleaned.csv')